layout {
    default_tab_template {
        pane size=1 split_direction="vertical" {
            pane size=55 borderless=true {
                plugin location="tab-bar" {
                    hide_session_name true
                }
            }

            pane borderless=true {
                plugin location="status-bar"
            }
        }
        children
    }

    tab name="" focus=true {
        pane borderless=true start_suspended=true command="nvim"
    }

    tab name="" split_direction="horizontal" {
        pane /* name="default" start_suspended=true cwd="" command="" {
            args ""
        }*/
    }

    tab name="󱚠" split_direction="horizontal" {
        pane name="clanker" start_suspended=true command="nix" {
            args "run" "--inputs-from" "." "nixpkgs#opencode"
        }
    }
}
